.footer {
	.copyright {
		text-align: left;
	}
	.social {
		text-align: right;
	}
	@media (max-width: @screen-md-max) {
		.copyright, .social {
			text-align: center;
		}
		.social {
			margin-top: 20px;
		}
	}
}
