{
  presets: ['env', 'react', 'stage-0'],
  env: {
    production: {
      plugins: [
        'transform-react-remove-prop-types',
        './src/plugins/remove-prop-types-import'
      ]
    }
  }
}
