
@body-bg: #fff;
@body-bg-radial: #fbfefe;

@seperator-color: #333;
@box-shadow-color: #888;

//@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-sans-serif:  Lato, Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;
